
.vs/markerApp/FileContentIndex/04121842-7c3e-4f5d-852e-356959b2eacf.vsidx
.vs/markerApp/FileContentIndex/2ac6ae00-7084-457a-9be2-64294359ed9a.vsidx
.vs/markerApp/FileContentIndex/975f6421-64a2-43f9-a1f2-e7fdf041cfde.vsidx
.vs/markerApp/FileContentIndex/bcc11d90-f6c0-4bfc-bd95-67eb8cefbcb7.vsidx
.vs/markerApp/FileContentIndex/read.lock
.vs/markerApp/v17/.suo
.vs/markerApp/v17/.wsuo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
