.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
}

.sidenav a:hover {
  color: #000000;
  cursor: pointer;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

  .body-center{
  padding-left: 160px;
  padding-top: 60px;
}
.grid-row {
  display: flex;
}

.grid-cell {
  width: 100px;
  height: 70px;
  border: 1px solid black;
}

.divChange{
    padding:0px;
}

#gridContainer {
  display: flex;
}

.gridRow {
  display: flex;
}

.gridCell {
  width: 100px;
  height: 70px;
  border: 1px solid black;
}

#gridContainer p{
  font-size: 30px;
  text-align: center;
}

.classroomText{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 30px;
  word-wrap: break-word;      
  color: #ffffff;
  display: block;
}

#tasks{
  display: inline-block;
  padding-top: 0px;
  margin: 0%;
}

  #dest_copy{
    display: inline-block;
  }

  .rowss{
    display: inline-block;
  }

  .rowss div{
    width:120px
  }

  .gridrowss {
    width: 700px;
    height: 70px;
    border: 1px solid black;
  }

  #gridContainerrow {
    display: flex;
  }


.printRecord{
  font-size: 40px;
  margin-right: 60%;
  width: 100%;

}

table{
font-family: arial, sans-serif;
border-collapse: collapse;
}

td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

tr:nth-child(even) {
background-color: #dddddd;
}