/* Set a style for all buttons */

.buttonUp {
  background-color: #3643f4;
  float: left;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  border: none;
  cursor: pointer;
  width: 15%;
}

button:hover {
  opacity: 0.8;
}

h1{
    padding-top: 50px;
    font-size: 60px;
}

#div1, #div2 {
    display: inline-flex;
    padding-left: 10px;

}

#div3{
  padding-left: 10px;
  display: flex;
  font-size: 35px;
}

.numStudents{
    padding-left: 20px;
    font-size: 35px;
}

.nameStudents{
    padding-left: 20px;
    font-size:30px;
}

.className{
  margin-top: 15px;
  width: 300px;
}


input[type=text], input[type=password] {
  width: 35%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.butSave{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 20%;
  margin-bottom: 20px;
  margin-left: 60%;
}

label {
    display: inline;
}

#create {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 20%;
}

#number{
  height: 30px;
}

#submitButton{
  padding-top: 20%;
}